{% extends 'user/user.html' %}

{% block profile %}

<div class="card shadow col-sm-8">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Change Password</h5>
        <div class="container-fluid">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-row">
 
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="currentpassword" id="currentpassword" placeholder="Enter Current Password"  class="form-control" required>
                        </div>
                    </div>
                </div>
 
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpassword" placeholder="Enter New Password"  class="form-control" required>
                        </div>
                    </div>
                </div>
 
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm New Password Again"  class="form-control" required>
                        </div>
                    </div>
 
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock profile %}