{% extends 'admin/admin_dash.html' %}

{% block main %}

<div class="container">
    <div class="card shadow col-lg-8">
        <div class="card-body"> 
          <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Edit Coupon</h5>
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary "style=" margin-left:300 ;">Update Coupon</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}