{% extends 'admin/admin_dash.html' %}


{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Edit Product</h5>
        <div class="container-fluid">
            <form action="" method="post" enctype="multipart/form-data" id="editform">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Category</label>
                            <select name="category" class="form-control" required>
                                <option value="">Choose Category</option>
                                {% for i in category %}
                                <option value="{{i.id}}" {% if i.id == product.category.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" name="name" class="form-control" value="{{product.name}}" placeholder="Product Name" form="editform">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Stock</label>
                            <input type="text" name="stock" class="form-control" value="{{product.stock}}" placeholder="Product Stock"  form="editform">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Price</label>
                            <input type="text" name="price" class="form-control" value="{{product.price}}" placeholder="Product Price"  form="editform">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="desc" class="form-control" placeholder="write description here" form="editform">{{product.description}}</textarea>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Product Image</label>
                            <input name="images" type="file" multiple class="form-control"   id="image-input"  form="editform">
                            <br>
                        </div>
                    </div>
                <div class="col-sm-5">
                    <div class="row">
                        {% for image in images %}
                            <div class="col-sm-4 position-relative">

                                <a href="{% url 'deleteimage' image.id %}" class="delete-image-btn" style="position: absolute; top: 0; right: 3; margin: 5px;">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                                <img src="{{image.images.url}}" multiple style="width:100%; height:80px">
                            </div>
                        {% endfor %}

                    </div>
                  </div> 
                </div>
                <input form="editform" type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
    <!--Alertify JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script>
        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}
            alertify.success('{{ msg }}');
        {% endfor %}
        
    </script>
{% endblock main %}