{% extends 'user/index.html' %}
{% load static %}
{% block banner %}{% endblock banner %}


{% block contents %}


<section class="confirmation_part padding_top">
    <div class="container">
      
        <div class="col-lg-12">
          <div class="confirmation_tittle font-weight-bold">
            <span>Please confirm your order here.</span>
          </div>
        </div>
        
        </div>
        
        <div class="col-lg-10" style="margin-left:8vw;" >
          <div class="single_confirmation_details">
            <form  action=" {% url 'place_order' %}" method="POST">
              {% csrf_token %}
            <h4>shipping Address</h4>
            <ul>
              <li>
                <p>Name</p><span>{{addressSelected.firstname}} {{addressSelected.lastname}}</span>
              </li>
               
              <li>
                <p>Address</p><span>{{addressSelected.address_line_1}}</span>
              </li>
              <li>
                <p>Phone</p><span>{{addressSelected.phone}}</span>
              </li>
              <li>
                <p>Email</p><span>{{addressSelected.email}}</span>
              </li>
              <li>
                <p>City</p><span>{{addressSelected.city}}</span>
              </li>
              <li>
                <p>postcode</p><span>{{addressSelected.pincode}}</span>
              </li>
            </ul>
          </div>
        </div>
      
      
        <div class="col-lg-10 " style="margin-left:8vw;">
          <div class="order_details_iner ">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              
              <tbody>
                {% for item in cart_items %}
                <tr>
                  <th colspan="2">{{item.product.name}}<span></span></th>
                  <th>x{{item.quantity}}</th>
                  <th> <span>Rs. {{item.product.price}}</span></th>
                </tr>
                {% endfor %}
                
                <tr>
                  
                  <th colspan="3">Subtotal</th>
                  <th> <span>Rs. {{total}}</span></th>
                </tr>
                <tr>
                  <th colspan="3">Shipping</th>
                  <th><span>Rs. 70</span></th>
                </tr>
                <tr>
                  <th colspan="3">Grand Total</th>
                  <th><span>Rs. {{grand_total}}</span></th>
                </tr>
              
              
                <tr>
                  <th scope="col" colspan="3">Coupon Discount</th>
                  <th scope="col">Rs. {{couponDiscount}}</th>
                </tr>
              </tbody>
              <br>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Payable Amount</th>
                  <th scope="col">Rs. {{amountToBePaid}}</th>
                </tr>
              </tfoot>
            </table>
            
            <div class="d-flex justify-content-center align-items-center">

              <input type="hidden" class="form-control"  value="{{addressSelected.id}}" name="addressSelected" placeholder="First Name"required />
              <input type="hidden" class="form-control" value="{{addressSelected.firstname}}" name="first_name"placeholder="First Name"required />
              <input type="hidden" class="form-control" id="last"value="{{addressSelected.lastname}}" name="last_name"placeholder="Last Name" required/>
              <input type="hidden" class="form-control" id="phone"value="{{addressSelected.phone}}" name="phone"placeholder="Phone Number"required/>
              <input type="hidden" class="form-control" id="email"value="{{addressSelected.email}}" name="email"placeholder="Email" required/>
              <input type="hidden" class="form-control" id="add1" value="{{addressSelected.address_line_1}}" name="address_line_1" placeholder="Address 1"required/>
              <input type="hidden" class="form-control" id="add1" value="{{addressSelected.address_line_2}}" name="address_line_2" placeholder="Address 2"required/>
              <input type="hidden" class="form-control" id="city" value="{{addressSelected.city}}" name="city"placeholder="City" required/>
              <input type="hidden" class="form-control" id="state" value="{{addressSelected.state}}" name="state"placeholder="State" required/>

              <input type="hidden" class="form-control" id="zip_code" name="zip_code"value="{{addressSelected.pincode}}" placeholder="Postcode/ZIP" required/>
              <!-- Coupon Related Fields -->
              <input type="hidden" class="form-control" value="{{total}}" name="total" required/>
              <input type="hidden" class="form-control" value="{{grand_total}}" name="grand_total" required/>
              <input type="hidden" class="form-control" value="{{amountToBePaid}}" name="amountToBePaid" required/>
              <input type="hidden" class="form-control" id="couponCode" value="{{couponCode}}" name="couponCode" required/>
              <input type="hidden" class="form-control" value="{{coupon_discount}}" name="couponDiscount" required/>
             <!-- Cod Related Fields -->
              <input type="hidden" value="COD" name="payment_method">


              <button class="btn_3 my-3 " value="submit" type="submit">Cash On Delivery</button>

              &nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;
            </form>
            
              <button class="btn_3 my-3 "  type="button" id="payWithRazorpay" >Pay with Razorpay</button>
            </div>
          </div>
        </div>
      
    </div>
  </section>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



{% if msg %}
<script>
  console.log("here");
  swal("Error!", "{{msg}}", "info");

</script>
{% endif %}

{% endblock contents %}